In [2]:
import finnhub

In [5]:
import yaml 
import os 

def get_api_key(fname): 
    fpath = os.path.abspath(os.path.join(os.path.dirname(__file__), "..", fname))
    print(fpath)
    with open(fname) as f: 
        credentials = yaml.safe_load(f)
        return credentials['finnhub-apikey']

In [4]:
import os

api_key = get_api_key("test")

NameError: name '__file__' is not defined

In [6]:
import os.path


os.path.join()

TypeError: join() missing 1 required positional argument: 'path'

In [1]:
from stock_data import StockData

In [2]:
test_data = StockData('GME')

In [3]:
test_data.df

,c,h,l,o,s,t,v,wma,day_of_week,day_of_year,is_quarter_end
0,10.050,10.0600,9.525,9.625,ok,2002-02-13,9527000,0.000000,2,44,False
1,10.000,10.1950,9.925,10.175,ok,2002-02-14,1400700,0.000000,3,45,False
2,9.950,10.0250,9.850,10.000,ok,2002-02-15,1048700,9.983333,4,46,False
3,9.550,9.9000,9.375,9.900,ok,2002-02-19,926300,9.758333,1,50,False
4,9.875,9.8750,9.525,9.600,ok,2002-02-20,861600,9.779167,2,51,False
...,...,...,...,...,...,...,...,...,...,...,...
4809,181.750,201.7500,177.550,197.500,ok,2021-03-23,14429145,189.083333,1,82,False
4810,120.340,166.9700,118.620,157.980,ok,2021-03-24,24177877,153.168333,2,83,False
4811,183.750,187.5000,116.900,123.490,ok,2021-03-25,50962337,162.280000,3,84,False
4812,181.000,218.9344,163.260,197.680,ok,2021-03-26,37430672,171.806667,4,85,False
4813,181.300,193.9200,173.510,180.750,ok,2021-03-29,10011300,181.608333,0,88,False